@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@import './styles/fonts.css';

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #403f3f;
  --color-accent-content: #706f6f;
}

* {
  font-family: 'Poppins', 'sans-serif';
}
